# PHP general
/vendor/
/composer.phar
composer.lock

# Editor config
.idea/
.vscode/

# Logs y temporales
*.log
*.bak
.DS_Store
Thumbs.db

# Bases de datos locales
*.sql
*.db

# Archivos comprimidos
*.zip
*.rar

# XAMPP config opcional
*.ini
*.conf
